.star-rating {
    font-size: 28px;
    cursor: pointer;
    color: #ccc; 
}

.star-rating span {
    margin-right: 5px;
}


.star-rating span.active {
    color: #f5b301 !important;
}


.star-rating span:hover {
    color: #f5b301 !important;
}